@import url(https://fonts.googleapis.com/css?family=Alegreya+Sans:400,100,100italic,300,300italic,400italic,500,500italic,700,700italic,800,800italic,900,900italic);
@import url(https://maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css);
@import "https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700";
/* ==========================================================
        Navbar Styles
   ==========================================================*/


   body {
       font-family: 'Poppins', sans-serif;
   }

   strong {
       font-weight: 600;
       color: #333;
   }

   a {
       -webkit-transition: all 0.3s;
       -o-transition: all 0.3s;
       transition: all 0.3s;
   }

   /* Navigation */
   .navbar {
     margin-bottom: 0;
     border-bottom: 1px solid rgba(255, 255, 255, 0.3);
     text-transform: uppercase;
     font-family: "Montserrat", "Helvetica Neue", Helvetica, Arial, sans-serif;
     background-color: #35404f !important;
   }
   .navbar-brand {
     font-weight: 700;
   }
   .navbar-brand:focus {
     outline: none;
   }
   .navbar-custom a {
     color: #f4f4f4;
   }
   .navbar-custom .nav li a {
     -webkit-transition: background 0.3s ease-in-out;
     -moz-transition: background 0.3s ease-in-out;
     transition: background 0.3s ease-in-out;
   }
   .navbar-custom .nav li a:hover {
     outline: none;
     background-color: rgba(255, 255, 255, 0.2);
   }
   .navbar-toggle {
     padding: 4px 6px;
     font-size: 16px;
     color: #f4f4f4;
   }
   @media (min-width: 767px) {
     .navbar {
       padding: 20px 0;
       border-bottom: none;
       background: transparent;
       -webkit-transition: background 0.5s ease-in-out, padding 0.5s ease-in-out;
       -moz-transition: background 0.5s ease-in-out, padding 0.5s ease-in-out;
       transition: background 0.5s ease-in-out, padding 0.5s ease-in-out;
     }
     .top-nav-collapse {
       padding: 0;
       background-color: #35404f;
     }
     .nav-custom.top-nav-collapse {
       border-bottom: 1px solid rgba(255, 255, 255, 0.3);
     }
   }

/* ==========================================================
        Select2 Styles
   ==========================================================*/
.js-select2-asal .js-select2-tujuan{
  width: 100%;
}
.select2-container--default .select2-results__option--highlighted[aria-selected]{
  background: #465fc7 !important;
}
.select2-container--default .select2-results__option[aria-selected=true]{
    background: #465fc7;
    color: #fff;
    opacity: 0.8;
}
.select2-container--open .select2-dropdown--below,
.select2-container--open .select2-dropdown--above{
  background: #6d7fcc;
  color: #000;
}
.select2-dropdown {
  z-index: 9001;
}


/* ==========================================================
        Card Styles
   ==========================================================*/
   .card {
     background: #fff;
     border-radius: 2px;
     display: inline-block;
     min-height: 500px;
     width: 650px;
     overflow: hidden;
   }

   .wrapper-card{
     width: 200px;
     height: 280px;
   }

   .card-1 {
     box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
     transition: all 0.3s cubic-bezier(.25,.8,.25,1);
     padding: 50px;
   }

   .card-1:hover {
     box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
   }

   .main-box {
     padding: 100px 0px 10px 250px !important;
   }
   #diagnosa{
     font-size: 14px;
     padding: 10px 20px 10px 20px;
     width:550px;
     height:250px;
     border:1px solid #000;
     text-align:left;
     overflow-y: scroll;
   }

   @media only screen and (min-width: 990px) and (max-width: 1200px){
     .main-box {
       padding: 100px 0px 10px 200px !important;
     }
     .card {
       background: #fff;
       border-radius: 2px;
       display: inline-block;
       min-height: 400px;
       width: 500px;
       margin-left: 30px;
     }
     #diagnosa{
       font-size: 14px;
       padding: 10px 20px 10px 20px;
       width:400px;
       height:250px;
       border:1px solid #000;
       text-align:left;
       overflow-y: scroll;
     }
   }

   @media only screen and (min-width: 768px) and (max-width: 990px){
     .main-box {
       padding: 90px 0px 10px 50px !important;
     }
     .card {
       background: #fff;
       border-radius: 2px;
       display: inline-block;
       min-height: 400px;
       width: 600px;
       margin-left: 30px;
     }
     #diagnosa{
       font-size: 14px;
       padding: 10px 20px 10px 20px;
       width:450px;
       height:250px;
       border:1px solid #000;
       text-align:left;
       overflow-y: scroll;
     }
   }

   @media only screen and (min-width: 480px) and (max-width: 767px){
     .main-box {
       padding: 80px 0px 10px 0px !important;
     }
     .card {
       background: #fff;
       border-radius: 2px;
       display: inline-block;
       min-height: 400px;
       width: 300px;
       margin-left: 10px;
     }
   }

   @media only screen and (min-width: 320px) and (max-width: 479px){
     .main-box {
       padding: 80px 0px 10px 0px !important;
     }
     .card {
       background: #fff;
       border-radius: 2px;
       display: inline-block;
       min-height: 400px;
       width: 300px;
       margin-left: 10px;
     }
     #diagnosa{
       font-size: 14px;
       padding: 10px 20px 10px 20px;
       width:200px;
       height:250px;
       border:1px solid #000;
       text-align:left;
       overflow-y: scroll;
     }
   }

   /* ==========================================================
           Footer Styles
      ==========================================================*/

       /* myfooter */

   .myfooter {
       padding: 50px 0 20px 0;
       background-color: #35404f;
       color: #878c94;
   }

   .myfooter .title-widget {
   	text-align: left;
   	color:#fff;
   	font-size: 25px;
   	font-weight: 300;
   	line-height: 1;
   	position: relative;
   	text-transform: uppercase;
   	font-family: 'Fjalla One', sans-serif;
   	margin-top: 0;
   	margin-right: 0;
   	margin-bottom: 25px;
   	margin-left: 0;
   	padding-left: 28px;
   }

   .myfooter .title-widget::before {
       background-color: #ea5644;
       content: "";
       height: 22px;
       left: 0px;
       position: absolute;
       top: -2px;
       width: 5px;
   }

   .myfooter .social-icon{padding:0px;margin:0px;}
   .myfooter .social-icon a{display:inline-block;color:#fff;font-size:25px;padding:5px;}
   .myfooter .acount-icon a{display:block;color:#fff;font-size:18px;padding:5px;text-decoration:none;}
   .myfooter .acount-icon .fa{margin-right:25px;}


   .myfooter .category a {
       text-decoration: none;
       color: #fff;
       display: inline-block;
       padding: 5px 20px;
       margin: 1px;
       border-radius:4px;
       margin-top: 6px;
       background-color: black;
       border: solid 1px #fff;
   }
   .myfooter ul {
   	font-size: 13px;
   	list-style-type: none;
   	margin-left: 0;
   	padding-left: 0;
   	margin-top: 15px;
   	color: #7F8C8D;
   }


   .myfooter .payment{margin:0px;padding:0px;list-style-type:none}
   .myfooter .payment li{list-style-type:none}
   .myfooter .payment li a {
       text-decoration: none;
       display: inline-block;
       color: #fff;
       float: left;
       font-size: 25px;
       padding: 10px 10px;
   }

   .myfooter ul.social {
   	list-style: none;
   	display: inline;
   	margin-left:0 !important;
   	padding: 0;
   }
   .myfooter ul.social li {
   	display: inline;
   	margin: 0 5px;
   }
   .myfooter .social li:hover {
   	transform: scale(1.15) rotate(360deg);
   	-webkit-transform: scale(1.1) rotate(360deg);
   	-moz-transform: scale(1.1) rotate(360deg);
   	-ms-transform: scale(1.1) rotate(360deg);
   	-o-transform: scale(1.1) rotate(360deg);
   }

   .myfooter .social a.icoRss:hover {
   	background-color: #F56505;
   }
   .myfooter .social a.icoFacebook:hover {
   	background-color:#3B5998;
   }
   .myfooter .social a.icoTwitter:hover {
   	background-color:#33ccff;
   }
   .myfooter .social a.icoGoogle:hover {
   	background-color:#BD3518;
   }
   .myfooter .social a.icoVimeo:hover {
   	background-color:#0590B8;
   }
   .myfooter .social a.icoLinkedin:hover {
   	background-color:#007bb7;
   }
   .myfooter .social a.icoRss:hover i, .myfooter .social a.icoFacebook:hover i, .myfooter .social a.icoTwitter:hover i,
   .myfooter .social a.icoGoogle:hover i, .myfooter .social a.icoVimeo:hover i, .myfooter .social a.icoLinkedin:hover i {
   	color:#fff;
   }
   a.myfooter .socialIcon:hover, .myfooter .socialHoverClass {
   	color:#44BCDD;
   }

   .myfooter .social-circle li a {
   	display:inline-block;
   	position:relative;
   	margin:0 auto 0 auto;
   	-moz-border-radius:50%;
   	-webkit-border-radius:50%;
   	border-radius:50%;
   	text-align:center;
   	width: 50px;
   	height: 50px;
   	font-size:20px;
   }
   .myfooter .social-circle li i {
   	margin:0;
   	line-height:50px;
   	text-align: center;
   }

   .myfooter .social-circle li a:hover i, .triggeredHover {
   	-moz-transform: rotate(360deg);
   	-webkit-transform: rotate(360deg);
   	-ms--transform: rotate(360deg);
   	transform: rotate(360deg);
   	-webkit-transition: all 0.2s;
   	-moz-transition: all 0.2s;
   	-o-transition: all 0.2s;
   	-ms-transition: all 0.2s;
   	transition: all 0.2s;
   }
   .myfooter .social-circle i {
   	color: #fff;
   	-webkit-transition: all 0.8s;
   	-moz-transition: all 0.8s;
   	-o-transition: all 0.8s;
   	-ms-transition: all 0.8s;
   	transition: all 0.8s;
   }

   .myfooter-bottom {
   	background: #E3E3E3;
   	border-top: 1px solid #DDDDDD;
   	padding-top: 10px;
   	padding-bottom: 10px;
    width: 100%;
    bottom: 0;
   }
   .myfooter-bottom p.pull-left {
   	padding-top: 6px;
   }
   .payments {
   	font-size: 1.5em;
   }
   /*  zooming class */


   .zoom:hover {
        -webkit-transform: scale(1.4);
        -moz-transform: scale(1.4);
        -o-transform: scale(1.4);
    }
   .zoom {
        -webkit-transform: scale(1);
        /* Browser Variations: */

        -moz-transform: scale(1);
        -o-transform: scale(1);
        -webkit-transition-duration: 0.3s;
        -moz-transition-duration: 0.3s;
        -o-transition-duration: 0.3s;
    }
